@charset "utf-8";
:root {
    /* color */
    --main-color: #6e57e0;
    --sub-color: #c1b6fc;
    --hover-color: #5a43cb;
    --title-color: #242329;
    --text-color: #6d6a7c;
    --text-color-light: #a19fad;
    --body-color: #fbfbfe;
    --white-color: #fff;

    /* font-size, 1rem = 16px */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /* margin , 1rem = 16px */
    --m-0-25: 0.25rem;
    --m-0-5: 0.5rem;
    --m-0-75: 0.75rem;
    --m-1: 1rem;
    --m-1-5: 1.5rem;
    --m-2: 2rem;
    --m-2-5: 2.5rem;
    --m-3: 3rem;
}
@media screen and (min-width: 968px) {
    :root {
        /* font-size, 1rem = 16px */
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}
* {margin: 0; padding: 0; box-sizing: border-box;}
body {margin: 0 0 3rem 0; font-family: 'Poppins-Medium'; font-size: var(--normal-font-size); color: var(--text-color); background-color: var(--body-color);}
h1, h2, h3, h4 {font-family: 'Poppins-SemiBold'; color: var(--title-color);}
ol, ul {margin: 0; padding: 0; list-style: none;}
a {text-decoration: none; color: var(--title-color);}
a:hover {text-decoration: none; color: var(--main-color);}
img {max-width: 100%; height: auto;}
button {padding: 0; background: none; border: none; cursor: pointer;}

.blind {position: absolute; clip: rect(0px, 0px, 0px, 0px); width: 1px; height: 1px; margin: -1px; overflow: hidden;}
.container {max-width: 768px; margin: 0 var(--m-1-5);}
.grid {display: -ms-grid; display: grid; gap: 1.5rem;}
.section {padding: 2rem 0 4rem;}
.section .title {font-size: var(--h1-font-size); text-align: center;}
.title {font-size: var(--h1-font-size); text-align: center;}
.button {padding: 1rem; display: inline-flex; align-items: center; color: var(--white-color); background-color: var(--main-color); -webkit-border-radius: 0.5rem; -moz-border-radius: 0.5rem; border-radius: 0.5rem;}
.button svg {width: 1.25rem; height: auto; margin-left: var(--m-0-5);}
.button svg > path {fill: var(--white-color);}
.button:hover {color: var(--white-color); background-color: var(--hover-color);}