@charset "utf-8";
/* == HEADER == */
header {width: 100%; background-color: var(--body-color); position: fixed; bottom: 0; left: 0; z-index: 100;}
header .nav {max-width: 968px; height: 3rem; display: flex; justify-content: space-between; align-items: center;}
header .nav .nav__list {grid-template-columns: repeat(2, 1fr); gap: 2rem;}
header .nav .nav__list > li a {display: flex; flex-direction: column; align-items: center; font-size: var(--small-font-size);}
header .nav .nav__list > li a svg {width: 1.25rem; height: auto; margin-bottom: 0.125rem;}
header .nav .nav__list > li a:hover svg > path {fill: var(--main-color);}
.nav__list li .nav__list--active {color: var(--main-color);}
.nav__list li .nav__list--active svg > path {fill: var(--main-color);}
@media screen and (min-width: 426px) and (max-width: 767px) {
    header .nav .nav__list {grid-template-columns: repeat(4, 1fr);}
    header .nav .nav__list > li a svg {margin-bottom: 0.3rem;}
}
header .nav .nav__menu .nav__menu__close {width: 1.5rem; height: auto; position: absolute; bottom: 0.7rem; right: 1.3rem;}
header .nav .nav__menu .nav__menu__close svg > path {fill: var(--main-color);}
header .nav .nav__menu .nav__menu__close:hover svg > path {fill: var(--hover-color);}
header .nav .nav__menu-btn {width: 1.125rem; color: var(--title-color);}
header .nav .nav__menu-btn:hover svg > path {fill: var(--main-color);}
@media screen and (max-width: 767px) {
    header .nav .nav__menu {width: 100%; padding: 2rem 1.5rem 4rem; background-color: var(--body-color); position: fixed; bottom: -100%; left: 0; -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15); box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15); -webkit-border-radius: 1.5rem 1.5rem 0 0; -moz-border-radius: 1.5rem 1.5rem 0 0; border-radius: 1.5rem 1.5rem 0 0; -webkit-transition: bottom 0.5s cubic-bezier(1, 0.39, 0.19, 0.79); -moz-transition: bottom 0.5s cubic-bezier(1, 0.39, 0.19, 0.79); -o-transition: bottom 0.5s cubic-bezier(1, 0.39, 0.19, 0.79); transition: bottom 0.5s cubic-bezier(1, 0.39, 0.19, 0.79);}
}
/* nav__menu-btn 클릭시 nav__menu show script */
.show-menu {bottom: 0 !important;}

/* == HOME == */
.home__container {gap: 1rem;}
.home__content {padding-top: 3.5rem; align-items: center;}
.home__profile-img {text-align: center;}
.home__profile-img svg {width: 200px; fill: var(--main-color);}
.home__profile-img .selfie {width: 130px;}
.home__title {font-size: var(--big-font-size);}
.home__desc {margin-bottom: var(--m-1-5); font-size: var(--h3-font-size);}
.github-link {margin-bottom: var(--m-2); display: inline-flex; align-items: flex-end; position: relative;}
.github-link::after {content: ""; width: 92%; border-bottom: 1px solid #000; position: absolute; bottom: 0; left: 0;}
.github-link:hover::after {border-color: var(--main-color);}
.github-link svg {width: 20px; margin-left: 4px;}
.github-link:hover svg > path {fill: var(--main-color);}
.home__skills {margin-bottom: var(--m-2); display: flex; flex-wrap: wrap;}
.home__skills li {width: 34px; height: 34px; margin: 0 var(--m-0-75) var(--m-0-75) 0; background: url(../images/sprites.png) no-repeat 0 0;}
.home__skills .css {background-position-x: -35px;}
.home__skills .javascript {background-position-x: -70px;}
.home__skills .jquery {background-position-x: -105px;}
.home__skills .photoshop {background-position-x: -175px;}

/* == EXPERIENCE == */
.experience__data {display: grid; grid-template-columns: 1fr max-content 1fr; column-gap: 1.5rem;}
.experience__data--right {text-align: right;}
.experience__data--left {text-align: left;}
.experience__subtitle {margin-bottom: var(--m-1); display: inline-block; font-size: var(--small-font-size);}
.experience__calendar {font-size: var(--small-font-size); color: var(--text-color-light);}
.experience__calendar svg {width: var(--smaller-font-size);}
.experience__rounder {width: 13px; height: 13px; display: inline-block; background-color: var(--main-color); border-radius: 50%;}
.experience__line {width: 1px; height: 100%; display: block; background-color: var(--main-color); transform: translate(6px, -7px);}

/* == PORTFOILO == */
.portfolio__project {display: flex; justify-content: space-between; align-items: flex-start;}
.portfolio__project .number {width: 25%; font-size: 16vw; font-weight: 600; line-height: 0.78; color: transparent; -webkit-text-stroke: 1px rgba(110, 87, 224, 0.5); position: sticky; top: 150px; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;}
.portfolio__project--active .number {color: var(--main-color);}
.portfolio__box {width: 70%;}

/* == CONTACT ME == */
.contact__container {row-gap: 3rem;}
.contact__info {display: flex; margin-bottom: var(--m-2);}
.contact__info svg {width: 32px; margin-right: var(--m-0-75); fill: var(--main-color);}
.contact__title {display: block; font-size: var(--h3-font-size); font-weight: 500; color: var(--title-color);}
.contact__subtitle {font-size: var(--small-font-size); color: var(--text-color);}
.contact__content {padding: 0.75rem 1rem 0.25rem; background-color: #f0eefc; border-radius: 0.5rem;}
.contact__label {font-size: var(--small-font-size); color: var(--title-color);}
.contact__input {width: 100%; padding: 0.25rem 0.5rem 0.5rem 0; font-size: var(--normal-font-size); color: var(--text-color); background-color: #f0eefc; border: none; outline: none;}

/* == SCROLL TOP 버튼 == */
.scroll-up {padding: 0.3rem; font-size: 0; position: fixed; bottom: -20%; right: 1rem; background-color: var(--main-color); border-radius: 0.4rem; opacity: 0.8; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; -o-transition: all 0.4s; transition: all 0.4s; z-index: 10;}
.scroll-up svg {width: 24px; fill: #fff;}
.scroll-up:hover {background-color: var(--hover-color);}
.scroll-up--show {bottom: 5rem;}


/* ======= 미디어쿼리 ======= */
@media screen and (max-width: 350px) {
    .home__profile-img svg {width: 180px;}
    .container {margin: 0 var(--m-1);}
    .experience__data {gap: 0.5rem;}
}

@media screen and (min-width: 568px) {
    .home__content {grid-template-columns: 1fr max-content;}
    .home__txt {grid-column: initial;}
    .home__profile-img {order: 1; justify-self: center;}

    .contact__container {grid-template-columns: repeat(2, 1fr);}
}

@media screen and (min-width: 768px) {
    body {margin: 0;}
    .container {margin: 0 auto;}
    .section {padding: 6rem 0 2rem;}
    .title {margin-bottom: 4rem;}

    header {top: 0; bottom: initial;}
    header,
    main,
    footer {padding: 0 1rem;}

    .nav {height: 9rem !important; column-gap: 1rem; -webkit-transition: height 0.5s ease; -moz-transition: height 0.5s ease; -o-transition: height 0.5s ease; transition: height 0.5s ease}
    .scroll-header {box-shadow: 0px 0px 10px 0px rgb(34 34 34 / 6%);}
    .scroll-header .nav {height: 4.5rem !important;}
    .nav__list li a svg,
    .nav__menu-btn,
    .nav__menu__close {display: none;}
    
    .nav__menu {margin-left: auto;}
    .nav__list {display: flex; column-gap: 2rem;}

    .home__content {padding-top: 5.5rem; column-gap: 2rem;}
    .home__profile-img svg {width: 270px;}

    .experience__sections {grid-template-columns: 0.5fr;}
}

@media screen and (min-width: 1024px) {
    header,
    main,
    footer {padding: 0;}

    .home__profile-img svg {width: 320px;}

    .contact__inputs {grid-template-columns: repeat(2, 1fr);}
}